@font-face {
    font-family: 'Fira Code';
    src: url('/assets/font/FiraCode-Regular.eot');
    src: url('/assets/font/FiraCode-Regular.eot') format('embedded-opentype'),
         url('/assets/font/FiraCode-Regular.woff2') format('woff2'),
         url('/assets/font/FiraCode-Regular.woff') format('woff'),
         url('/assets/font/FiraCode-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
