@mixin link-style($link: $color-link,
                  $visited: $color-link,
                  $hover: $color-link-hover,
                  $active: $color-link) {
    a {
        text-decoration: none;
        color: $link;

        &:visited {
            color: $visited;
        }

        &:hover {
            color: $hover;
        }

        &:active {
            color: $active;
        }
    }
}

@mixin heading($size, $weight, $top, $bottom) {
    font-size: $size;
    font-weight: $weight;
    margin-top: $top;
    margin-bottom: $bottom;
}
