---
---

@import "reset";
@import "variables";
@import "helper";
@import "font";

/**
 * HTML elements
 */
body {
    color: $color-plain;
    background: $color-black;
    font-family: "Fira Code", Menlo, Consolas, Courier, monospace;
    font-size: 100%;
    font-weight: 400;
}

a, p {
    font-size: $font-size-default;
    line-height: $line-height-default;
}

ul {
    list-style: none;

    li {
        padding: 5px 5px 5px 10px;
        @media screen and (max-width: $br) {
            padding: 10px 0;
        }
    }
}

blockquote {
    color: $color-plain;
    border-left: 4px solid $color-quote;
    padding-left: 15px;
    font-size: $font-size-main;
    font-style: italic;
}

@include link-style();

/**
 * CSS class
 */
.wrapper {
    max-width: 640px;
    margin: auto;
    padding: 60px 30px;
    @media screen and (max-width: $br) {
        padding: 20px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 50px;
    @media screen and (max-width: $br) {
        display: block;
    }

    h1 {
        font-size: $font-size-header;
        font-weight: bold;
    }

    ul {
        margin-top: 10px;
        font-size: $font-size-h5;

        li {
            display: inline;
            padding: 0 0 0 5px;
        }
    }
}

.blog {
    padding-bottom: 30px;

    ul li {
        margin-bottom: 20px;
        font-size: $font-size-h5;
        line-height: $line-height-main;
    }
}

.post {
    padding-bottom: 30px;

    &__back {
        @include link-style($color-back, $color-back, $color-back-hover, $color-back);
    }

    &__title {
        display: block;
        margin-top: 20px;
        margin-bottom: 6px;

        h1 {
            display: inline-block;
            font-size: $font-size-h1;
            font-weight: 700;
        }
    }

    &__date {
        p {
            font-size: $line-height-default;
            font-style: italic;
        }
    }

    &__meta {
        p {}
    }

    &__content {
        margin-top: 20px;

        h1 {
            @include heading($font-size-h1, 700, 30px, 20px);
        }

        h2 {
            @include heading($font-size-h2, 700, 25px, 20px);
        }

        h3 {
            @include heading($font-size-h3, 700, 20px, 15px);
        }

        h4 {
            @include heading($font-size-h4, 700, 20px, 15px);
        }

        h5 {
            @include heading($font-size-h5, 700, 10px, 10px);
        }

        h6 {
            @include heading($font-size-h6, 700, 10px, 10px);
        }

        p {
            font-size: $font-size-main;
            line-height: $line-height-main;
            margin-bottom: 25px;
        }

        @include link-style();

        strong {
            font-weight: 700;
        }

        em {
            font-style: italic;
        }

        ol, ul {
            margin-top: 10px;
            margin-bottom: 20px;
            font-size: $font-size-main;
        }

        ol {
            padding-left: 40px;
            list-style-type: decimal;
        }

        ul {
            padding-left: 40px;
            list-style-type: disc;
        }

        ol ul, ul ul {
            margin-bottom: 0;
            list-style-type: circle;
            font-size: $font-size-default;
        }

        ol, ul {
            li {
                padding: 5px;
                @media screen and (max-width: $br) {
                    padding: 10px 0;
                }
            }
            @media screen and (max-width: $br) {
                margin-left: 0;
            }
        }

        img {
            margin-top: 10px;
            margin-bottom: 10px;
            @media screen and (max-width: $br) {
                width: 100%;
                margin: auto;
            }
        }

        code {
            padding: 1px 3px;
            font-size: $font-size-code;
            border-radius: 3px;
            background: $color-code-background;
        }

        .highlight {
            margin: 5px;
            padding: 10px;
            line-height: $line-height-main;
            border-style: solid;
            border-radius: 3px;
            border-width: 2px;
            overflow-x: auto;

            code {
                color: $color-code;
                background: none;
            }
        }

        .codebreak {
            margin: 15px;
            border: 0;
            border-bottom: 1px dashed $color-white;
        }
    }
}

.about {
    &__title {
        @include heading(2.5em, 700, 30px, 20px);
    }

    &__content {
        margin-top: 20px;

        p {
            font-size: $font-size-main;
            line-height: $line-height-main;
            margin-bottom: 25px;
        }
    }
}
